<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../static/index.css"> 
    </head>

    <body>
        <div class="header">
            <h1 onclick="location.href='/home'">
                ML DDT Model
                <a href="/about"><button type="button" class="aboutUsButton">ABOUT</button></a>
            </h1>
        </div>

        <div id="container">
            <div id="content">

                <h1>
                    <div style='margin-bottom: 20px'>
                    <center>ABOUT</center></div>
                </h1>

                <h3>
                    Problem We Identified
                </h3>    
                <p>
                    In the medical industry, understanding the risks and potential side-effects taking multiple drugs simultaneously pose as a significant problem.
                    While some online databases document the severity of the interaction between two types of drugs, many interactions are still unknown. 
                    Patients may be put at risk of severe side-effects or not be given the treatment despite the potential for a life-saving cure.
                </p>
                <h3>
                    Our Approach
                </h3>

            </div>
        </div>
    </body>
</html>