<!DOCTYPE html>
<html lang="en"> 
	<head>
    <title>ML-model for drug-drug interactions</title>
    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../static/index.css"> 
	</head>
	
	<body>
    <div class="header">
      <h1>Header</h1>
    </div>

    <div id="container">
      <div id="content">

        <h1>
          <div style='float:left; margin-bottom: 20px;'>
            Machine-Learning Based Drug-Drug Prediction Model
          </div>
        </h1>

        <h3>Enter past medication and target drug to assess:</h3>

        <form class="grid" action="/result" method="POST">
          {% if restarg %}
            {% for statement in restarg %}
                <p style="color: red;">{{statement}}</p>
            {% endfor %}
          {% elif submitted %}
                <p style="color: green">No target-history incompatibility predicted</p>
          {% endif %}

          {% if resmed %}
            {% for statement in resmed %}
              <p style="color: red;">{{statement}}</p>
            {% endfor %}
          {% elif submitted %}
              <p style="color: green">No history-history incompatibility predicted</p>
          {% endif %}
          <div id="allmed">
            <label>Past Medication</label><br>
            <input type="text" list="medlist" name = 'ip'><br>
            <input type="text" list="medlist" name = 'ip'><br>
            <datalist id="medlist">
            </datalist>
            <button type="button" id="add">Add more medicine</button>
          </div>

          <div id="targetmed">
            <label>Target Drug</label><br>
            <input type="text" list="medlist" name="tr"><br>
            <input class="font" type="Submit" value="Check Compatibility">
          </div>
        </form>

        

        <script type = "text/javascript" src="../static/script.js" defer></script>

        <div class="footer">
          <h1>Footer</h1>
        </div>

      </div>
    </div>
  </body>

</html>