<!DOCTYPE html>
<html lang="en"> 
	<head>
    <title>ML-model for drug-drug interactions</title>
    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../static/index.css"> 
	</head>
	
	<body>
    <div class="header">
      <h1>Header</h1>
    </div>

    <div id="container">
      <div id="content">

        <h1>
          <div style='float:left; margin-bottom: 20px;'>
            Machine-Learning Based Drug-Drug Prediction Model
          </div>
        </h1>

        <h3>Enter past medication and target drug to assess:</h3>

        <form class="grid" action="/result" method="POST">
        <!--
          {% if restarg %}
            {% for statement in restarg %}
                <p style="color: red;">{{statement}}</p>
            {% endfor %}
          {% elif submitted %}
                <p style="color: green">No target-history incompatibility predicted</p>
          {% endif %}

          {% if resmed %}
            {% for statement in resmed %}
              <p style="color: red;">{{statement}}</p>
            {% endfor %}
          {% elif submitted %}
              <p style="color: green">No history-history incompatibility predicted</p>
          {% endif %}
        -->
          {% if resmed or restarg %}
            {% if target %}
              <label>{{target}} Compatibility Result</label>
              {% if restarg %}
              <label>Past-Target Interactions</label>
                {% for case in restarg%}
                  <ol>
                    {% if case.1 == 'major'%}
                    <li style="color: red;">{{target}}-{{case[0]}}</li>
                    {% elif case.1 == 'moderate'%}
                    <li style="color:#A36A00">{{target}}--{{case[0]}}</li>
                    {% elif case.1 == 'minor'%}
                    <li style="color:yellow">{{target}}--{{case[0]}}</li>
                    {% endif%}
                  </ol>
                {% endfor %}
              {% endif %}
            {% else %}
              <label>Past Compatibility Result</label>
            {% endif%}
            {% if resmed %}
              <label>Past-Past Interactions</label>
              {% for case in resmed %}
              <ol>
                {% if case.2 == 'major'%}
                <li style="color: red;">{{case[0]}}--{{case[1]}}</li>
                {% elif case.2 == 'moderate'%}
                <li style="color:#A36A00">{{case[0]}}--{{case[1]}}</li>
                {% elif case.2 == 'minor'%}
                <li style="color:yellow">{{case[0]}}--{{case[1]}}</li>
                {% endif%}
              </ol>
              {% endfor %}
            {% endif %}
          {% else %}
          <label>No incompatibility predicted</label>
          {% endif %}


          <div id="allmed">
            <label>Past Medication</label><br>
            <input type="text" list="medlist" name = 'ip'><br>
            <input type="text" list="medlist" name = 'ip'><br>
            <datalist id="medlist">
            </datalist>
            <button type="button" id="add">Add more medicine</button>
          </div>

          <div id="targetmed">
            <label>Target Drug</label><br>
            <input type="text" list="medlist" name="tr"><br>
            <input class="font" type="Submit" value="Check Compatibility">
          </div>
        </form>

        

        <script type = "text/javascript" src="../static/script.js" defer></script>

        <div class="footer">
          <h1>Footer</h1>
        </div>

      </div>
    </div>
  </body>

</html>